.page_content .page_content__lst li .page_content__lst__cont{height: 105px; overflow: hidden;}
.fs30{font-size: 25px;}
.fs33{font-size: 25px;}
.fs24{font-size: 20px;}
.detail__title{font-size: 30px; margin-top: 0px}